*{
    margin: 0;
    padding: 0;
   font-family: Quicksand

   
}

body{
    background-color: black;
    font-size: 55px;
    Font-family: Quicksand ;
font-style: Bold ;
Font-size: 90px ;
 line-height:  25px ;
line-height: 100% ;
text-Align: Center;
vertical-align: Top ;
}

.fc-titulo{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 1.6em;
    
    
}
.fc-email{
    color: white;
    text-align: center;
    font-size: 50%;
    width: auto;
}

.desliza para inicar {
    width: auto;
    background-color: white;
    text-align: inherit;
}




.desliza para iniciar{
    float: left;
    width: 6em;
    height: 3.75em;
    border: 0;
    border-radius: 0.3em;
    background-color: burlywood;
    margin-left: 0.5em;
    text-align: center;
    font-size: 0.8em;
    color:  #FFFFFF;
    cursor: pointer;
}
